@media (min-width:0) and (max-width:767px) {
    header {
        height: 45px;
        img {
            margin-top: -70px;
            width: 140px;
            margin-left: -70px;
            height: auto;
        }
        ul {
            li {
                line-height: 45px;
                font-size: 0.8rem;
                a {
                    //padding: 0;
                }
                a.last {
                    padding-right: 20px;
                }
            }
        }
    }
    .shimmy {
        height: 30px;
    }
    .stage {
        border:none;
        .button {
            width: 100%;
        }
        .row {
            span {
                margin: 0;
                p {
                    font-size: .9rem;
                }
                p {
                    small {
                        color: #fff;
                    }
                }
            }
        }
    }
    .stage.one {
        padding-top: 17%;
        background: url("../img/hero-mb.jpg")50% 50% no-repeat;
        background-size:cover;
    }
    .stage.two {
        background: url("../img/location-mb.jpg")50% 50% no-repeat;
        background-size:cover;
    }
    .stage.three {
        background: url("../img/amenities-mb.jpg")50% 50% no-repeat;
        background-size:cover;
    }
    .stage.four {
        background: url("../img/master-mb.jpg")50% 50% no-repeat;
        background-size:cover;
    }
    .stage.five {
        background: url("../img/queen-mb.jpg")50% 50% no-repeat;
        background-size:cover;
    }
    .stage.six {
        background: url("../img/twin-mb.jpg")50% 50% no-repeat;
        background-size:cover;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    header {
        height: 45px;
        img {
            margin-top: -70px;
            width: 140px;
            margin-left: -70px;
            height: auto;
        }
        ul {
            li {
                line-height: 45px;
                font-size: 0.8rem;
                a {
                    //padding: 0;
                }
                a.last {
                    padding-right: 20px;
                }
            }
        }
    }
    .shimmy {
        height: 30px;
    }
    .stage {
        border:none;
        .button {
            width: inherit;
        }
        .row {
            span {
                margin: 0;
                p {
                    font-size: .9rem;
                }
                p {
                    small {
                        color: #fff;
                    }
                }
            }
        }
    }
    .stage.one {
        padding-top: 17%;
        background: url("../img/hero.jpg")50% 50% no-repeat;
        background-size:cover;
    }
    .stage.two {
        background: url("../img/location.jpg")50% 50% no-repeat;
        background-size:cover;
    }
    .stage.three {
        background: url("../img/amenities.jpg")50% 50% no-repeat;
        background-size:cover;
    }
    .stage.four {
        background: url("../img/master.jpg")50% 50% no-repeat;
        background-size:cover;
    }
    .stage.five {
        background: url("../img/queen.jpg")50% 50% no-repeat;
        background-size:cover;
    }
    .stage.six {
        background: url("../img/twin.jpg")50% 50% no-repeat;
        background-size:cover;
    }
}
